/* StockChange.module.css */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label {
  display: block;
  font-weight: 500;
}

.select,
.input {
  border: 1px solid #d1d5db; /* Cor da borda */
  padding: 0.5rem;
  width: 100%;
}

.button {
  background-color: #007bff;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}
