.page {
  background-color: teal;
  min-height: 100vh;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  color: white;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.nav {
  width: 70px;
  background-color: white;
  color: teal;
}
